{{!-- {{page-title "ProjectX"}} --}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<h1>Learning CRUD</h1>
{{outlet}}